.header {
    display: flex;
    justify-content: right;
    padding: 10px;
    
    &-div {
        width: 15px;
        
        &-image{
            height: 25px;
            width: 25px;
           }
    
    }

    
}

   